.navbar {
  .wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      justify-content: left;
      flex: 1;
      .menu {
        display: none;
        @media only screen and (max-width: 380px) {
          display: block;
          font-size: 30px;
        }
      }
      .logo {
        max-height: 48px;
        img {
          max-height: 48px;
          @media only screen and (max-width: 380px) {
            font-size: 30px;
          }
        }
      }
    }

    .center {
      .nav {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        & > * ~ * {
          margin-left: 2rem;
        }

        li {
          padding: 5px 0;
          font-weight: 700;
          position: relative;
          font-size: 18px;
          list-style-type: none;
          &::after {
            content: "";
            position: absolute;
            z-index: 999;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            transition: width 0.5s ease;
            height: 2px;
            background-color: teal;
          }

          &.active::after,
          &:hover::after {
            width: 100%;
          }
          a {
            color: black;
          }
        }
        .close {
          display: none;
        }

        @media only screen and (max-width: 380px) {
          flex-direction: column;
          background-color: teal;
          position: absolute;
          z-index: 999;
          left: 0;
          top: 0;
          width: 100%;
          height: 100vh;
          justify-content: flex-start;
          padding-top: 30px;
          transform: translateX(-100%);
          transition: transform 0.5s ease;
          .close {
            display: block;
            position: absolute;
            left: 20px;
            font-size: 30px;
          }
        }
        &.active {
          transform: translateX(0);
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      .searchContainer {
        width: 50%;
        border: 0.5px solid lightgray;
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin: 0 20px;
        padding: 6px;
        position: relative;

        .searchInput {
          border: none;
          outline: none;
        }
        .searchProduct {
          font-size: 0;
          border: none;
          background: url("https://krik.vn/tp/T0298/img/tmp/search.svg");
          width: 22px;
          height: 22px;
          position: absolute;
          z-index: 1;
          right: 8px;
          top: 5px;
          cursor: pointer;
        }
        @media only screen and (max-width: 380px) {
          width: 100%;
          margin: 0 10px;
        }
      }

      .menuItem {
        font-size: 14px;
        cursor: pointer;
        margin: 0 10px;

        a {
          color: black;
        }
        .userLogin {
          position: relative;

          .userLoginList {
            display: none;

            padding: 6px 12px;
            border-radius: 6px;
            border: 0.5px solid lightgray;
            width: 160px;
            position: absolute;

            z-index: 4;
            background-color: white;
            top: 38px;
            right: -4px;

            align-items: center;
            flex-direction: column;
            .userLoginItem {
              font-size: 16px;
              font-weight: 600;
              color: black;
              width: 100%;
              padding: 12px;
            }
            &::before {
              content: "";
              position: absolute;
              top: -16px;
              right: 8px;
              border: 8px solid #0000;
              border-bottom: 8px solid rgba($color: #000000, $alpha: 0.1);
            }
            &.active {
              display: flex;
            }
          }
        }

        @media only screen and (max-width: 380px) {
          font-size: 13px;
          margin: 0;
        }
      }
      @media only screen and (max-width: 380px) {
        flex: 2;
        justify-content: center;
      }
    }
    @media only screen and (max-width: 380px) {
      padding: 5px 10px;
    }
  }
  @media only screen and (max-width: 380px) {
  }
}
